body {
  font-family: Arial, sans-serif;
  margin: 0;
}

#scrollBtn {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: static;
}

#videoModalSection {
  margin-top: 100px;
}
